<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>看企业管理平台—话题管理</title>
	<script src="/static/user/jq/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="/static/user/bootstrap/css/bootstrap.min.css">
	<script src="/static/user/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/user/layer/layer.js"></script>
	<link rel="stylesheet" href="/static/user/css/public.css">
	<link rel="stylesheet" href="/static/user/css/home.css">
    <!--下面一行代码有用，勿删无需注销-->
	<style id='dynamic'></style>
</head>
<body>
<script>
</script>
<!-- 	<img src="{$Think.config.WEBSETHOST}/static/user/img/indexs_png.jpg" alt="" style="margin: 20px 0 0  20px;"/> -->
<div id="kqy_main">
		
		
	</div>
	<script src="/static/user/js/home.js" type="text/javascript" charset="utf-8"></script>
	
</body>
</html>