<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>看企业—用户管理后台系统</title>
	<script src="__PUBLIC__/user/jq/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/user/bootstrap/css/bootstrap.min.css">
	<script src="__PUBLIC__/user/bootstrap/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/user/layer/layer.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/user/css/public.css">
	<link rel="stylesheet" href="__PUBLIC__/user/css/index.css">
	<!--[if lt IE 9]>
	    <script src="__PUBLIC__/User/bootstrap/js/html5shiv.min.js"></script>
	    <script src="__PUBLIC__/User/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <script>
        //百度统计代码
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?31531d05a781a72185052ae724574f7b";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
	<!-- 头nav开始 -->
	<nav id="nav">
		<div class="logo">
			<a href="{:U('Index/index/index')}">
				<img src="__PUBLIC__/user/img/logo-oa.png" alt="看企业后台"/>
			</a>
		</div>
		<input type="hidden" id="isZL" value="{$token}" >
		<input type="hidden" id="isCR" value="{$userRank}" >
		<!-- 头nav 主体内容开始 -->
		<div class="nav_main">
			<div class="nav_name">
				<i class="nav_inform"></i>
				<div id="nav_name">
					<ul class="inform_box">
						<li class="inform_item"><a href="javascript:void(0);">公告：使用上有疑问可拨打400-6658-928</a></li>
						<li class="inform_item"><a href="javascript:void(0);">公告：使用上有疑问可拨打400-6658-928</a></li>
						<li class="inform_item"><a href="javascript:void(0);">公告：使用上有疑问可拨打400-6658-928</a></li>
					</ul>
				</div>
			</div>
			<ul class="nav_menu">
				<li class="nav_item"><a href="{:U('logout')}"><img src="__PUBLIC__/user/img/end.png"></a></li>
				<li class="nav_item">
					<div class="user-tx">
						<a href="javascript:void(0);">
	                        <if condition="$userData['avatar_type'] eq 0 && !empty($userData['avatar'])">
	                            <img src="__APP__{$userData['avatar']}" alt="头像">
	                            <elseif condition="$userData['avatar_type'] eq 1 && !empty($userData['avatar'])"/>
	                            <img src="http://www.spbang.cn/Public{$userData['avatar']}" alt="头像">
	                            <else/>
	                            <img src="__PUBLIC__/index/img/default.png" alt="头像" />
	                        </if>
	                    </a>
	                    <div class="login-menu">
	                        <i  class="message_icon triangleUp"></i>
	                        <div class="l-menu">
	                            <if condition="!empty($login_uid)">
	                                <!--<a target="_blank" href="{:U('User/Index/index')}">用户后台</a>-->
	                                <a class="menu_jup" href="{:U('User/Index/informationBasic')}" data-url="{:U('User/Index/informationBasic')}" data-name="基本资料">修改资料</a>
	                                <if condition="$userData['kqy_rank_id'] eq 3">
	                                    <a target="_blank" href="/{$website}">我的官网</a>
	                                    <!--<a target="_blank" href="javascript:void(0);">一键首页</a>-->
	                                 <elseif condition="$userData['kqy_rank_id'] eq 4"/>
	                                    <a target="_blank" href="/{$website}">我的官网</a>
	                                </if>
	                                <!--<a href="{:U('Index/index/logout')}">退出登录</a>-->
	                            </if>
	                        </div>
	                    </div>
					</div>
                    <if condition="$resultcount eq 0">
                              
                    <else />
                        <div class="admin-msg">
                            <i  class="triangleUp"></i>
                            <div>你有{$resultcount}个<a href="{:U('User/Index/index')}?tab=User/MessageCenter/messstatus&tab_name=状态提醒" target="_blank">状态提醒~</a></div>
                        </div>
                    </if>
				</li>
				<li class="nav_item message-box">
					 <div class="message_icon message">
                        <i class="num" id="new_messages_count">0</i>
                    </div>
                    <div class="message-container">
                        <div class="message-tab-box">
                            <i class="message_icon triangleUp"></i>
                            <ul class="message-tab clear" id="message-tab">
                                <li class="current"><span class="message_icon message1"><!--i class="message_icon message_d"></i--></span></li>
                                <li><span class="message_icon message2"><!--i class="message_icon message_d"></i--></span></li>
                                <li><span class="message_icon message3"><!--i class="message_icon message_d"></i--></span></li>
                                <li><span class="message_icon message4"><!--i class="message_icon message_d"></i--></span></li>
                            </ul>
                        </div>
                        <div id="message-box">
                            <div class="message-item current" id="message1">
                                <!--有信息显示-->
                                <div class="content">
                                    <div class="ms-item">
                                        <a href="javascript:void(0);" target="_blank">
                                            <p class="t-overflow ms-name marb5"><span>无敌的山神</span> 给你发来了私信。</p>
                                            <p class="fh">今天 20:15 </p>
                                        </a>
                                    </div>
                                    <div class="ms-item">
                                        <a href="javascript:void(0);" target="_blank">
                                            <p class="t-overflow ms-name marb5"><span>无敌的山神</span> 给你发来了私信。</p>
                                            <p class="fh">今天 20:15 </p>
                                        </a>
                                    </div>
                                    <div class="ms-item">
                                        <a href="javascript:void(0);" target="_blank">
                                            <p class="t-overflow ms-name marb5"><span>无敌的山神</span> 给你发来了私信。</p>
                                            <p class="fh">2017-04-27 20:15  </p>
                                        </a>
                                    </div>
                                    <div class="ms-move">
                                        <a class="menu_jup" href="{:U('User/MessageCenter/personalMessages')}" data-url="{:U('User/MessageCenter/personalMessages')}" data-name="消息中心">查看更多</a>
                                    </div>
                                </div>
                                <!--没有信息显示-->
                                <div class="message-no" id="noMessage1">没有私信类通知</div>
                            </div>
                            <div class="message-item" id="message2">
                                <div class="content">
                                    <div class="ms-item">
                                        <a href="javascript:void(0);" target="_blank">
                                            <p class="t-overflow ms-name"><span>无敌的山神</span> 评论了你的视频。</p>
                                            <p class="t-overflow ms-name marb5"><span>《跟屁虫宣传片》</span></p>
                                            <p class="fh">今天 20:15 </p>
                                        </a>
                                    </div>
                                    <div class="ms-item">
                                        <a href="javascript:void(0);" target="_blank">
                                            <p class="t-overflow ms-name"><span>无敌的山神</span> 评论了你的视频。</p>
                                            <p class="t-overflow ms-name marb5"><span>《跟屁虫宣传片》</span></p>
                                            <p class="fh">今天 20:15 </p>
                                        </a>
                                    </div>
                                    <div class="ms-item">
                                        <a href="javascript:void(0);" target="_blank">
                                            <p class="t-overflow ms-name"><span>无敌的山神</span> 评论了你的视频。</p>
                                            <p class="t-overflow ms-name marb5"><span>《跟屁虫宣传片》</span></p>
                                            <p class="fh">今天 20:15 </p>
                                        </a>
                                    </div>
                                    <div class="ms-move">
                                        <a class="menu_jup" href="{:U('User/MessageCenter/comments')}" data-url="{:U('User/MessageCenter/comments')}" data-name="消息中心">查看更多</a>
                                    </div>
                                </div>
                                <div class="message-no" id="noMessage2">没有评论类通知</div>
                            </div>
                            <div class="message-item" id="message3">
                                <div class="content" style="display:none;">
                                    <div class="ms-item">
                                        <a href="javascript:void(0);" target="_blank">
                                            <p class="t-overflow ms-name"><span>无敌的山神</span> 赞同了你的评论</p>
                                            <p class="t-overflow ms-name marb5"><span>《跟屁虫宣传片》</span></p>
                                            <p class="fh">今天 20:15 </p>
                                        </a>
                                    </div>
                                    <div class="ms-item">
                                        <a href="javascript:void(0);" target="_blank">
                                            <p class="t-overflow ms-name"><span>无敌的山神</span> 赞同了你的评论</p>
                                            <p class="t-overflow ms-name marb5"><span>《跟屁虫宣传片》</span></p>
                                            <p class="fh">今天 20:15 </p>
                                        </a>
                                    </div>
                                    <div class="ms-item">
                                        <a href="javascript:void(0);" target="_blank">
                                            <p class="t-overflow ms-name"><span>无敌的山神</span> 赞同了你的评论</p>
                                            <p class="t-overflow ms-name marb5"><span>《跟屁虫宣传片》</span></p>
                                            <p class="fh">今天 20:15 </p>
                                        </a>
                                    </div>
                                    <div class="ms-move">
                                        <a href="javascript:void(0);">查看更多</a>
                                    </div>
                                </div>
                                <div class="message-no" style="display:block;"  id="noMessage3">没有赞同类通知</div>
                            </div>
                            <div class="message-item" id="message4">
                                <div class="content">
                                    <div class="ms-item">
                                        <a href="javascript:void(0);" target="_blank">
                                            <p class="t-overflow ms-name marb5"><span>《关于看企业改版的相关通知》</span></p>
                                            <p class="fh">今天 20:15 </p>
                                        </a>
                                    </div>
                                    <div class="ms-item">
                                        <a href="javascript:void(0);" target="_blank">
                                            <p class="t-overflow ms-name marb5"><span>《关于看企业改版的相关通知》</span></p>
                                            <p class="fh">今天 20:15 </p>
                                        </a>
                                    </div>
                                    <div class="ms-item">
                                        <a href="javascript:void(0);" target="_blank">
                                            <p class="t-overflow ms-name marb5"><span>《关于看企业改版的相关通知》</span></p>
                                            <p class="fh">2017-04-27 20:15  </p>
                                        </a>
                                    </div>
                                    <div class="ms-move">
                                        <a class="menu_jup" href="{:U('User/MessageCenter/notices')}" data-url="{:U('User/MessageCenter/notices')}" data-name="消息中心">查看更多</a>
                                    </div>
                                </div>
                                <div class="message-no" id="noMessage4">没有通知类通知</div>
                            </div>
                        </div>
                    </div>
				</li>
			</ul>
		</div>
		<!-- 头nav 主体内容结束 -->
	</nav>
	<!-- 头nav结束 -->
	<div id="main">
		<!-- 左边导航开始 -->
		<div id="main_left">
			<input type='hidden' value='{$renz}' id = "user_id">
			<input type='hidden' value='{$datatype}' id = "user_ids">

			<foreach name="menus" item="level1">
				<if condition="empty($level1['sub_menus'])">
					<div class="box_real">
						<div class="box_btn">
							<span class="kqy_icon {$level1['icon_class']}"></span>
							<a href="{:U($level1['url'])}" data-url="{:U($level1['url'])}">{$level1['name']}</a>
							<!-- <span class="caret"></span> -->
						</div>
					</div>
					<else/>
					<div class="boxs">
						<div class="box_btn">
							<span class="kqy_icon {$level1['icon_class']}"></span>
							<a href="{$level1['url']}">{$level1['name']}</a>
							<span class="caret"></span>
						</div>
						<ul class="down_list">
							<foreach name="level1['sub_menus']" item="level2">
								<li>
									<a href="{:U($level2['url'])}" data-url="{:U($level2['url'])}">{$level2['name']}</a>
								</li>
							</foreach>
						</ul>
					</div>
				</if>
			</foreach>

			<!--div class="boxs">
				<div class="box_btn">
					<span class="kqy_icon kqy_icon_user"></span>
					<a href="#">个人信息</a>
					<span class="caret"></span>
				</div>
				<ul class="down_list">
					<li>
						<a href="{:U('User/Index/informationBasic')}" data-url="{:U('User/Index/informationBasic')}">基本资料</a>
					</li>
					<li>
						<a href="{:U('User/Index/informationPortrait')}" data-url="{:U('User/Index/informationPortrait')}">修改头像</a>
					</li>
					<li>
						<a href="{:U('User/Index/informationPassword')}" data-url="{:U('User/Index/informationPassword')}">修改密码</a>
					</li>
				</ul>
			</div>
			<div class="box_real">
				<div class="box_btn">
					<span class="kqy_icon kqy_icon_real"></span>
					<a href="authentication.html" data-url="authentication.html">实名认证</a>
				</div>
			</div>
			<div class="boxs">
				<div class="box_btn">
					<span class="kqy_icon kqy_icon_vadio"></span>
					<a href="#">视频管理</a>
					<span class="caret"></span>
				</div>
				<ul class="down_list">
					<li>
						<a href="video_upload.html" data-url="video_upload.html">上传视频</a>
					</li>
					<li>
						<a href="my_video.html" data-url="my_video.html">我的视频</a>
					</li>
				</ul>
			</div>
			<div class="boxs">
				<div class="box_btn">
					<span class="kqy_icon kqy_icon_article"></span>
					<a href="#">文章管理</a>
					<span class="caret"></span>
				</div>
				<ul class="down_list">
					<li>
						<a href="article_upload.html" data-url="article_upload.html">发表文章</a>
					</li>
					<li>
						<a href="my_article.html" data-url="my_article.html">我的文章</a>
					</li>
				</ul>
			</div>
			<div class="boxs">
				<div class="box_btn">
					<span class="kqy_icon kqy_icon_topic"></span>
					<a href="#">话题</a>
					<span class="caret"></span>
				</div>
				<ul class="down_list">
					<li>
						<a href="topic_upload.html" data-url="topic_upload.html">发布新的话题</a>
					</li>
					<li>
						<a href="my_topic.html" data-url="my_topic.html">我发布的话题</a>
					</li>
					<li>
						<a href="my_partake_topic.html" data-url="my_partake_topic.html">我参与的话题</a>
					</li>
				</ul>
			</div-->
			<!--div class="boxs">
				<div class="box_btn">
					<span class="kqy_icon kqy_icon_set"></span>
					<a href="#">网站管理</a>
					<span class="caret"></span>
				</div>
				<ul class="down_list">
					<li>
						<a href="site_settings.html" data-url="site_settings.html">网站设置</a>
					</li>
					<li>
						<a href="#">装修网站</a>
					</li>
					<li>
						<a href="#">我要上首页</a>
					</li>
				</ul>
			</div>
			<div class="box_real">
				<div class="box_btn">
					<span class="kqy_icon kqy_icon_transforming"></span>
					<a href="transforming.html" data-url="transforming.html">转化通</a>
				</div>
			</div>
			<div class="box_real">
				<div class="box_btn">
					<span class="kqy_icon kqy_icon_luck"></span>
					<a href="luck_draw.html" data-url="luck_draw.html">幸运大转盘</a>
				</div>
			</div-->
		</div>
		<!-- 左边导航结束 -->
		<!-- 右边选项卡开始 -->
		<div id="main_right">
			<div id="main_tab">
				<ul class="main_tab_btn">
					<li class="home active">
						<a href="#home">
							<img src="__PUBLIC__/user/img/home.png" alt="">
						</a>
					</li>
					<!-- <li class="tab_btn">
						<a href="#">
							<span>基本资料</span>
							<img class="remove" src="__PUBLIC__/user/img/remover.png" alt="关闭">
						</a>
					</li> -->
				</ul>
			</div>

			<div id="main_iframe">
				<iframe class="active" src="home.html" width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
			</div>
		</div>
		<!-- 右边选项卡结束 -->
	</div>
	<!-- ie10- 提示框 -->
	<div id="ie_mask">
		<div id="ie">
			<span class="close">&times;</span>
			<img src="__PUBLIC__/user/img/ie-mask.png" alt="">
			<ul>
				<li><a href="https://support.microsoft.com/zh-cn/help/17621/internet-explorer-downloads?spm=875.7931836%2FA.a2226mw.1.3OuE3q" target="_blank"><img src="__PUBLIC__/user/img/btn.png" alt=""></a></li>
				<li><a href="http://www.googlechromer.cn/" target="_blank"><img src="__PUBLIC__/user/img/btn.png" alt=""></a></li>
				<li><a href="http://www.firefox.com.cn/" target="_blank"><img src="__PUBLIC__/user/img/btn.png" alt=""></a></li>
			</ul>
		</div>
	</div>

	<script src="__PUBLIC__/user/js/xh.scrollUp.js"></script>
	<script src="__PUBLIC__/user/js/index.js"></script>
	<script src="__PUBLIC__/index/layer/layer.js"></script>
	<script type="text/javascript">
		$("#nav_name").scrollUp({ // 公告滚动初始化
		    list:".inform_box",
		    item:".inform_item",
		    line:1,
		    speed:800,
		    timer:3000
		});

		if($('#isZL').val() == 1){ // 判断是否填写过资料，如果没有，则进入
			$('.box_real:first').unbind('click');
			$('.box_real:first').on('click','.box_btn',function(e){
				e.preventDefault();

                var open1 = layer.open({
                   title: false,
                   closeBtn: 0,
                   content: '请先完善个人资料中的基本资料，再认证！',
                   btn: ['确定'],
                   yes: function(layero){
                       layer.close(open1);
                       tabs('{:U('User/Index/informationBasic')}','{:U('User/Index/informationBasic')}', '基本资料');
                   }
               })
			});
		}

		if($("#user_id").val()==2){ // 判断是否认证过，如果没认证，某些功能不开放
			$('.boxs').unbind("click");
			$('.box_real:not(:first)').unbind("click");
			$('.boxs:not(:first)').on('click','.box_btn',function(e){
				e.preventDefault();
				notice();

			});	
			$('.box_real:not(:first)').on('click','.box_btn',function(e){
				e.preventDefault();
				notice();

			});			
			$('.boxs:first').on('click','.box_btn',function(e){
				e.preventDefault();
				$(this).toggleClass('active').parents('.boxs').siblings('.boxs').find('.box_btn').removeClass('active');
				$(this).siblings('.down_list').slideToggle().parents('.boxs').siblings('.boxs').find('.down_list').slideUp();
			});		
		}

		function notice(){
	        $.ajax({
	        type: "post",
	        url: "{:U('User/index/ajaxrz')}",
	        data:"",
	        dataType: "json",
	        success: function (data) {
	      	if(data.status==1){
		  			layer.open({
					  type: 1
					  ,title: data.title //不显示标题栏
					  ,closeBtn: false
					  ,area: "550px"
					  ,shade: 0.8
					  ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
					  ,resize: false
					  ,btn: ['确认', '取消']
					  ,btnAlign: 'c'
					  ,move: '#LAY_layuipro'
					  ,moveType: 1 //拖拽模式，0或者1
					  ,content: '<div style="font-size:14px; padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">'+data.content+'</div>'
					  ,success: function(layero){
					  		$(".layui-layer .layui-layer-btn-c").show();
						    var btn = layero.find('.layui-layer-btn');
						    btn.find('.layui-layer-btn0').attr({
						      href: data.url
						    });	  		
					  	//60000 
				
					  }
					});	
		      	}
	                
	        },
	    });
	}
	$(document).on('click','.layui-layer-btn0',function(e){
		e.preventDefault();
		var url,dataUrl;
		url=dataUrl=$(this).attr('href');
		
		if(url){
			$('#isZL').val() == 1 ? tabs('{:U('User/Index/informationBasic')}','{:U('User/Index/informationBasic')}', '基本资料') :tabs(url,dataUrl,"实名认证");
		}
	})

	/**
     * 获取消息
     */
    function getMessages() {
        var messageCountItem = $("#new_messages_count");
        var messageTab1 = $("#message-tab .message1");
        var messageTab2 = $("#message-tab .message2");
        var messageTab3 = $("#message-tab .message3");
        var messageTab4 = $("#message-tab .message4");
        var hasNewMessage = '<i class="message_icon message_d"></i>';
        var messageItem = $(".message-item");
        var messageBoxes = $(".message-item .content");

        messageBoxes.find('.ms-item').remove();
        $.ajax({
            url : "{:U('Index/Behind/getUserMessages')}",
            type : "get",
            dataType : "json",
            success : function (data) {
                messageCountItem.text(data['messages_count']);
                var privateMessages = data['top_private_messages'] || null;
                var privateMessagesCount = privateMessages.length;
                var commentMessages = data['top_comment_messages'] || null;
                var commentMessagesCount = commentMessages.length;
                var notices = data['top_notice_messages'] || null;
                var noticesCount = notices.length;
                if(privateMessagesCount && privateMessagesCount != 0) {
                    messageTab1.append(hasNewMessage);
                    messageItem.eq(0).find('#noMessage1').hide();
                    for(var i = 0; i < privateMessagesCount; i++) {
                        var item = '<div class="ms-item">\
                                <a href="{:U(\'User/Index/index\')}?tab=User/MessageCenter/personalMessages&tab_name=消息中心" target="_blank">\
                                <p class="t-overflow ms-name marb5"><span>'+privateMessages[i]['sender']+'</span> 给你发来了私信。</p>\
                            <p class="fh">'+privateMessages[i]['add_time']+' </p></a></div>';
                        messageBoxes.eq(0).prepend(item);
                    }
                } else {
                    messageTab1.empty();
                    messageBoxes.eq(0).hide();
                    messageItem.eq(0).find('#noMessage1').show();
                }

                if(commentMessagesCount && commentMessagesCount != 0) {
                    messageTab2.append(hasNewMessage);
                    messageItem.eq(1).find('#noMessage1').hide();
                    for(var i = 0; i < commentMessagesCount; i++) {
                        var item = '<div class="ms-item">\
                                <a href="{:U(\'User/Index/index\')}?tab=User/MessageCenter/comments&tab_name=消息中心" target="_blank">\
                                <p class="t-overflow ms-name"><span>'+commentMessages[i]['sender']+'</span> '+commentMessages[i]['content']+'</p>\
                            <p class="fh">'+commentMessages[i]['add_time']+' </p>\</a></div>';
                        messageBoxes.eq(1).prepend(item);
                    }
                } else {
                    messageTab2.empty();
                    messageBoxes.eq(1).hide();
                    messageItem.eq(1).find('#noMessage2').show();
                }

                if(noticesCount && noticesCount != 0) {
//                        messageTab4.append(hasNewMessage);
                       messageItem.eq(3).find('#noMessage1').hide();
                    for(var i = 0; i < noticesCount; i++) {
                        var item = '<div class="ms-item">\
                                <a href="{:U(\'User/Index/index\')}?tab=User/MessageCenter/notices&tab_name=消息中心" target="_blank">\
                                <p class="t-overflow ms-name marb5"><span>'+notices[i]['title']+'</span></p>\
                            <p class="fh">'+notices[i]['add_time']+' </p></a></div>';
                        messageBoxes.eq(3).prepend(item);
                    }
                } else {
                    messageTab4.empty();
                    messageBoxes.eq(3).hide();
                    messageItem.eq(3).find('#noMessage4').show();
                }
            }
        });
    }

    $(document).ready(function () {
        //定时获取消息
        setInterval("getMessages()", 30000);
        getMessages();
    });

    $('#message-tab>li').mouseover(function(){ // 顶部信息栏切换功能
        var self = $(this), index;

        if(self.hasClass('current')) return ;
        index = self.index();
        self.addClass('current').siblings().removeClass('current');
        $('#message-box>.message-item').eq(index).addClass('current').siblings().removeClass('current');
    });

    $(document).on('click','.menu_jup',function(event){ // 顶部导航某些东西，需要通过这个JS打开页面
       
        event.preventDefault();
        var that = $(this),
            hUrl = that.attr('href'),
            hDataUrl = that.attr('data-url'),
            hName = that.attr('data-name');
       
        tabs(hUrl, hDataUrl, hName);
    });
	</script>

{$script}
</body>
<script>

    //百度统计代码
    var _hmt = _hmt || [];

    (function() {
        var hm = document.createElement("script");

        hm.src = "https://hm.baidu.com/hm.js?31531d05a781a72185052ae724574f7b";

        var s = document.getElementsByTagName("script")[0];

        s.parentNode.insertBefore(hm, s);
    })();

</script>

</html>