<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>看企业管理平台—修改密码</title>
	<script src="__PUBLIC__/user/jq/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/user/bootstrap/css/bootstrap.min.css">
	<script src="__PUBLIC__/user/bootstrap/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/user/layer/layer.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/user/css/public.css">
	<!--[if lt IE 9]>
	    <script src="__PUBLIC__/user/bootstrap/js/html5shiv.min.js"></script>
	    <script src="__PUBLIC__/user/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <style>
    	/*密码强度*/
    	.level{display: inline-block;}
    	.level span{display: inline-block;width:70px;height:20px;line-height: 20px;text-align: center;background-color:rgb(221,221,221);color:#fff;transition: background-color .3s ease-in;-moz-transition: background-color .3s ease-in;-webkit-transition: background-color .3s ease-in;-o-transition: background-color .3s ease-in;}
    	.weak span:nth-child(1){background-color:#ff7e06;}
    	.middle span:nth-child(2){background-color:#ff4001;}
    	.strong span:nth-child(3){background-color:#5bb85d;}
    </style>
</head>
<body>
	<div id="kqy_main">
		<div class="kqy_title">
			<span class="max_font_size">修改密码</span>
			<span class="font-size-m"> - </span>
			<span class="min_font_size">你的密码是你登录看企业的唯一方式，请妥善保管！</span>
		</div>
		<div class="kqy_content">
			<form action="{:U('User/Index/changePassword')}" method="post" id="form">
				<div class="box">
					<div class="font-style">
						<span class="must">原密码：</span>
					</div>
					<div class="input_box">
						<input type="password" name="psw" placeholder=""><span class="error">密码错误！</span>
					</div>
				</div>
				<div class="box">
					<div class="font-style">
						<span class="must">新密码：</span>
						<span>请输入至少6个字符密码</span>
					</div>
					<div class="input_box">
						<input type="password" id="pwd"  name="new_psw" placeholder="">
						<div class="level">           	
							<span>弱</span>
							<span>中</span>
							<span>强</span>
						</div>
						<span class="error">请输入正确格式的新密码！</span>
					</div>
				</div>
				<div class="box">
					<div class="font-style">
						<span class="must">确认密码：</span>
						<span>请再输入一遍你的新密码</span>
					</div>
					<div class="input_box">
						<input class="new_psw" id="pwds" name="re_pwd" type="password" placeholder="">
						<div class="level">           	
							<span>弱</span>
							<span>中</span>
							<span>强</span>
						</div>	
						<span class="error">两次输入密码不一致！</span>
					</div>
				</div>
				<div class="box">
					<div class="button_box">
						<button type="button" class="qdBtn active">确定修改</button>
						<button type="button" onclick="window.parent.remtabs('{:U('')}')">取消</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script src="__PUBLIC__/user/js/information_password.js"></script>
	<script>
		//ajax	
		function formSubmitAjax(){
			$.ajax({
				type:"post",
				url:"{:U('User/Index/changePassword')}",
				data:$('#form').serialize(),
				dataType:'json',
				success:function(data){
					if(data.msg==1){
						layer.msg('修改成功', {icon: 1,time:1000},function(){
							// 关闭当前窗口
							window.parent.remtabs('{:U(User/Index/informationPassword)}');
						});
					}else if(data.msg==2){
						layer.msg('密码错误', {icon: 2,time:1000},function(){
							psw.parents('.box').addClass('error');
							psw.focus();
						});
					}else{
						layer.msg('原始密码错误！', {icon: 2,time:1000});
					}
				},
				error:function(msg){
					layer.msg('修改失败', {icon: 2,time:1000});
				}
			});
		}
	</script>
</body>
</html>